/* -----------------------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-weight: 300;
    font-size: 20px;
}


/* -----------------------------------------------------------*/
/* BACKROUND IMAGE */
/*------------------------------------------------------------*/



body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0)), url(../images/math_image.jpg);
}

/*header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/math_image);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}*/



/* -----------------------------------------------------------*/
/* Reusable Components */
/*------------------------------------------------------------*/
.row{
     max-width: 1140px;
    margin: 0 auto; 
    
}
/* -----------------------------------------------------------*/
/* MAIN NAVBAR */
/*------------------------------------------------------------*/
.main-nav{
}

.main-nav li{
    display: inline-block;
     margin-left: 40px;
}


.main-nav li a{
 /* color: rgba(255, 255, 255, 0.8)*/
    color: #ffffff;
    font-size: 100%;
    text-decoration: none;  
    
}

.nav_bar{
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    max-width: 100%;
    border: 2px solid rgb(6, 255, 6);
    width: 100%;
}



/* -----------------------------------------------------------*/
/* LOGIN/SIGNUP NAVBAR */
/*------------------------------------------------------------*/

.sign-up-log-in{
    display: inline-block;
    margin-left: 60%;
}


.sign-up-log-in a{
    margin-right: 20px;   
}

.btn{
  display: inline-block; 
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 40%;
  color: #0a0303;
  font-size: 100%;
}


.btn-sign-in{  
   border: 1px solid rgba(79, 34, 230, 0.86);
   background-color: #d35400;
}

/* -----------------------------------------------------------*/
/* MAIN HEADER*/
/*------------------------------------------------------------*/

h1{
    margin-top: 4%;;
    margin-left: 40%;
    color: rgb(22, 219, 30);
}

/* -----------------------------------------------------------*/
/* HOW IT WORKS*/
/*------------------------------------------------------------*/

h2{
    margin-bottom: 15px;
    color: aquamarine
}


.how-it-works{
    margin-top: 20px;
    margin-left: 20px;    
    max-width: 700px;
}

.paragraph{
    line-height: 145%;
    width: 100%;
    text-align: left;
    font-weight: 500;
    background: rgba(237, 141, 29, 0.63);
    
}
/* -----------------------------------------------------------*/
/* TUTOR PROFILE*/
/*------------------------------------------------------------*/

.profile-pic img{
    margin-left:50%;
    margin-bottom:10%;
    width: 40%;
    border-radius: 50%;
}

.profile-pic h3{
    margin-left:50%;
     color: aquamarine
}

.profile-pic p{

    margin-left:20%;
   ./* background: rgb(237, 141, 29);*/
}

.math-is-fun{
    margin-left: 5%;
}

/* -----------------------------------------------------------*/
/* CONTACT INFO*/
/*------------------------------------------------------------*/
.contact-info{
    margin-left:20%;
}

.contact{
    margin-bottom: 15px;
    
}

.inquiries{
    margin-bottom: 15px;
}

.icon{
   font-size: 150%;
   display: block;
   color: orange;
    display: inline-block;
    margin-top: -15px;
    margin-right: 10px;
}

.inq-sec{
    margin-top: 20px;
    margin-left: 35%
}

   
}